---
  openapi: "3.0.2"
  info: 
    title: "stageVariables.Stage - moreDraw - REST"
    description: "moreDraw - REST"
    version: "0.0.1"
  tags: 
    - 
      name: "Usuários"
      description: "Os usuários representam a entidade mais simplória de uma pessoa física.\nEles podem pertencer a equipes sendo possível executar uma tarefa, realizar operações de remetente e destinatário, realizar a gestão de seus unitizadores, etiquetas e favoritos."
    - 
      name: "Image"
      description: "Componentes Gráficos."
  servers: 
    - 
      url: "https://api.moreDraw.com.br/{environment}"
      variables: 
        environment: 
          default: "v1"
          enum: 
            - "dev"
            - "v1"
  paths: 
    /image: 
      post: 
        description: "Esta API é utilizada para cadastrar um novo imagea de pátio.\nNecessário informar os atributos do imagea no corpo da requisição.\n\n| Atributo               | Descrição                                                               | Tipo(tamanho)       | Obrigatório |\n|------------------------|-------------------------------------------------------------------------|---------------------|-------------|\n| imageId                | Identificação numérica do imagea                                        | Integer             | Sim         |\n| imageName              | Nome do imagea                                                          | String(3-255)       | Sim         |\n| groupBy                | Grupo ao qual a Imagem pertence                                         | String(3-255)       | Sim         |\n| description            | Descrição da Imagem                                                     | String(3-255)       | Sim         |\n| imageUrl               | Url da Imagem                                                           | String(3-255)       | Sim         |\n| created                | Data de criação                                                         | DateTime<String>    | Não         |\n| createdBy              | ID do cliente que criou o registro                                      | String              | Não         |\n| modified               | Data de modificação                                                     | DateTime<String>    | Não         |\n"
        operationId: "postImage"
        summary: "Cadastra uma nova imagem"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Image"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postImage/invocations"
          passthroughBehavior: "when_no_match"
          httpMethod: "POST"
          type: "aws_proxy"
        requestBody: 
          required: true
          content: 
            multipart/form-data: 
              schema: 
                type: "object"
                properties: 
                  picImage: 
                    type: "string"
                    format: "binary"
                    description: "A imagem que será enviada"
                  jsonImage: 
                    type: "string"
                    description: "Os metadados da imagem no formato JSON:\n```json\n{\n  \"imageId\": 123,\n  \"imageName\": \"Exemplo de Imagem\",\n  \"groupBy\": \"Grupo Teste\",\n  \"description\": \"Uma descrição de teste\"\n}\n```\n"
                required: 
                  - "picImage"
                  - "jsonImage"
              encoding: 
                jsonImage: 
                  contentType: "application/json"
              examples: 
                exemplo1: 
                  summary: "Requisição de exemplo"
                  description: "Um exemplo com JSON e arquivo"
                  value: 
                    picImage: "(Arquivo binário)"
                    jsonImage: "{\n  \"imageId\": 123,\n  \"imageName\": \"Exemplo de Imagem\",\n  \"groupBy\": \"Grupo Teste\",\n  \"description\": \"Uma descrição de teste\"\n}\n"
        responses: 
          200: 
            description: "Imagea de pátio cadastrado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Image"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "Internal Server Error"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
      options: 
        summary: "CORS support"
        description: "Enable CORS by returning correct headers\n"
        tags: 
          - "CORS"
        responses: 
          200: 
            description: "Default response for CORS method"
            headers: 
              Access-Control-Allow-Origin: 
                schema: 
                  type: "string"
              Access-Control-Allow-Methods: 
                schema: 
                  type: "string"
              Access-Control-Allow-Headers: 
                schema: 
                  type: "string"
            content: {}
          400: 
            $ref: "#/components/schemas/BadRequest"
            headers: 
              Access-Control-Allow-Origin: 
                schema: 
                  type: "string"
              Access-Control-Allow-Methods: 
                schema: 
                  type: "string"
              Access-Control-Allow-Headers: 
                schema: 
                  type: "string"
          409: 
            $ref: "#/components/schemas/Conflict"
            headers: 
              Access-Control-Allow-Origin: 
                schema: 
                  type: "string"
              Access-Control-Allow-Methods: 
                schema: 
                  type: "string"
              Access-Control-Allow-Headers: 
                schema: 
                  type: "string"
          500: 
            $ref: "#/components/schemas/InternalServer"
            headers: 
              Access-Control-Allow-Origin: 
                schema: 
                  type: "string"
              Access-Control-Allow-Methods: 
                schema: 
                  type: "string"
              Access-Control-Allow-Headers: 
                schema: 
                  type: "string"
        x-amazon-apigateway-integration: 
          type: "mock"
          requestTemplates: 
            application/json: "{\n  \"statusCode\" : 200\n}\n"
          responses: 
            default: 
              statusCode: "200"
              responseParameters: 
                method.response.header.Access-Control-Allow-Headers: "'X-Requested-With,Accept,Origin,Content-Type,X-Amz-Date,Authorization,X-Api-Key'"
                method.response.header.Access-Control-Allow-Methods: "'*'"
                method.response.header.Access-Control-Allow-Origin: "'*'"
              responseTemplates: 
                application/json: "{}\n"
  x-amazon-apigateway-binary-media-types: 
    - "multipart/form-data"
    - "image/jpeg"
  x-amazon-apigateway-gateway-responses: 
    INVALID_API_KEY: 
      statusCode: 403
      responseParameters: 
        gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
        gatewayresponse.header.Access-Control-Allow-Methods: "'*'"
        gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
      responseTemplates: 
        application/json: "{\n    \"message\": {\n        \"text\": \"Api Key inválida.\",\n        \"type\": \"error\",\n        \"status\": 403\n    }\n}"
    RESOURCE_NOT_FOUND: 
      statusCode: 405
      responseParameters: 
        gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
        gatewayresponse.header.Access-Control-Allow-Methods: "'*'"
        gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
      responseTemplates: 
        application/json: "{\n    \"message\": {\n        \"text\": \"Recurso não encontrado, favor conferir a documentação.\",\n        \"type\": \"error\",\n        \"status\": 405\n    }\n}"
    QUOTA_EXCEEDED: 
      statusCode: 429
      responseParameters: 
        gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
        gatewayresponse.header.Access-Control-Allow-Methods: "'*'"
        gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
      responseTemplates: 
        application/json: "{\n    \"message\": {\n        \"text\": \"Limite de requisições atingido.\",\n        \"type\": \"error\",\n        \"status\": 429\n    }\n}"
    API_CONFIGURATION_ERROR: 
      statusCode: 502
      responseParameters: 
        gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
        gatewayresponse.header.Access-Control-Allow-Methods: "'*'"
        gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
      responseTemplates: 
        application/json: "{\n    \"message\": {\n        \"text\": \"Endpoint não encontrado, favor conferir a documentação.\",\n        \"type\": \"error\",\n        \"status\": 502\n    }\n}"
    INTEGRATION_TIMEOUT: 
      statusCode: 504
      responseParameters: 
        gatewayresponse.header.Access-Control-Allow-Origin: "'*'"
        gatewayresponse.header.Access-Control-Allow-Methods: "'*'"
        gatewayresponse.header.Access-Control-Allow-Headers: "'*'"
      responseTemplates: 
        application/json: "{\n    \"message\": {\n        \"text\": \"Tempo limite de integração atingido, por favor tente novamente.\",\n        \"type\": \"error\",\n        \"status\": 504\n    }\n}"
  components: 
    securitySchemes: 
      bearerAuth: 
        type: "http"
        scheme: "bearer"
        bearerFormat: "JWT"
    schemas: 
      User: 
        type: "object"
        properties: 
          userId: 
            description: "ID do usuário"
            example: "12345678-1234-1234-1234-123456789012"
            format: "uuid"
            type: "string"
          firstName: 
            description: "Primeiro nome do usuário"
            example: "Nome"
            type: "string"
          lastName: 
            description: "Sobrenome do usuário"
            example: "Sobrenome"
            type: "string"
          federalTax: 
            description: "CPF do usuário"
            example: "12345678900"
            type: "string"
          RG: 
            description: "RG do usuário"
            example: "1234567890"
            type: "string"
          email: 
            description: "Email do usuário"
            example: "nome_sobrenome@mail.com"
            type: "string"
          phone: 
            description: "Telefone do usuário"
            example: "5500012345678"
            type: "string"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          notify: 
            description: "Disponibilidade para enviar notificação"
            example: true
            type: "boolean"
          locale: 
            description: "Linguagem utilizada pelo usuário"
            example: "PT-BR"
            type: "string"
          sumRatingShipper: 
            description: "Média das avaliações de emitente"
            example: "4.6"
            type: "string"
          sumRatingShipment: 
            description: "Média das avaliações de remessas"
            example: "4.7"
            type: "string"
          sumRatingDestinator: 
            description: "Média das avaliações do destinatario"
            example: "4.8"
            type: "string"
          sumRatingDriver: 
            description: "Média das avaliações do motorista"
            example: "4.8"
            type: "string"
          isDriver: 
            description: "Definição de motorista"
            example: false
            type: "boolean"
          license: 
            description: "CNH do usuário"
            example: "123456789012345"
            type: "string"
          disability: 
            description: "Possível deficiência"
            example: "Deficiência visual, auditiva, física"
            type: "string"
          license_valid: 
            description: "Data da validade da CNH do motorista"
            example: "2020-07-15T"
            format: "date"
            type: "string"
          category: 
            description: "Categoria da CNH do motorista"
            example: "B"
            type: "string"
          emiter: 
            description: "Emitente da CNH do motorista"
            example: "ABCABC-ABC"
            type: "string"
          birthDate: 
            description: "Data de nascimento do usuário"
            example: "DD/MM/AAAA"
            type: "string"
          vehicle: 
            description: "Veículo atual do usuário"
            type: "object"
            $ref: "#/components/schemas/Vehicle"
          address: 
            description: "Endereço do usuário"
            type: "object"
            $ref: "#/components/schemas/Address"
      UpdateUser: 
        type: "object"
        properties: 
          email: 
            description: "Email do usuário"
            example: "nome_sobrenome@mail.com"
            type: "string"
          phone: 
            description: "Telefone do usuário"
            example: "550012345678"
            type: "string"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "55000912345678"
            type: "string"
          notify: 
            description: "Disponibilidade para enviar notificação"
            example: true
            type: "boolean"
          disability: 
            description: "Possível deficiência"
            example: "Deficiência visual, auditiva, física"
            type: "string"
          isDriver: 
            description: "Definição de motorista"
            example: false
            type: "boolean"
          license: 
            description: "CNH do usuário"
            example: "123456789012345"
            type: "string"
          licenseValid: 
            description: "Data da validade da CNH do motorista"
            example: "2020-07-15T"
            format: "date"
            type: "string"
          category: 
            description: "Categoria da CNH do motorista"
            example: "B"
            type: "string"
          emiter: 
            description: "Emitente da CNH do motorista"
            example: "ABCABC-ABC"
            type: "string"
          locale: 
            description: "Linguagem utilizada pelo usuário"
            example: "PT-BR"
            type: "string"
          modified: 
            example: "2020-07-15T20:45:23.506-0300"
            format: "date-time"
            type: "string"
          address: 
            description: "Endereco do usuário"
            type: "object"
            oneOf: 
              - 
                $ref: "#/components/schemas/CreateAddress"
              - 
                $ref: "#/components/schemas/UpdateAddress"
      UserResponse: 
        type: "object"
        properties: 
          message: 
            $ref: "#/components/schemas/Message"
          content: 
            $ref: "#/components/schemas/User"
      CreateUser: 
        type: "object"
        properties: 
          firstName: 
            description: "Primeiro nome do usuário"
            example: "Nome"
            type: "string"
          lastName: 
            description: "Sobrenome do usuário"
            example: "Sobrenome"
            type: "string"
          federalTax: 
            description: "CPF do usuário"
            example: "12345678900"
            type: "string"
          password: 
            description: "Senha do usuário"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          notify: 
            description: "Disponibilidade para enviar notificação"
            example: true
            type: "boolean"
          disability: 
            description: "Possível deficiência"
            example: "Deficiência visual, auditiva, física"
            type: "string"
          created: 
            example: "2020-07-15T20:45:23.506-0300"
            format: "date-time"
            type: "string"
          address: 
            description: "Endereco do usuário"
            type: "object"
            $ref: "#/components/schemas/CreateAddress"
          users: 
            description: "Lista de usuários"
            type: "array"
            items: 
              description: "Objeto de criação do usuário"
              type: "object"
              $ref: "#/components/schemas/CreateUser"
        required: 
          - "firstName"
          - "lastName"
          - "federalTax"
          - "password"
          - "mobilePhone"
      VerifyUser: 
        type: "object"
        properties: 
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          oneTimePassword: 
            description: "Codigo de verificação do dispositivo telefone celular do usuário"
            example: "123456"
            type: "string"
            format: "string"
      GenerateOneTimePassword: 
        type: "object"
        properties: 
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
      VerifyPassword: 
        type: "object"
        properties: 
          federalTax: 
            description: "CPF do usuário"
            example: "12345678900"
            type: "string"
          password: 
            description: "Senha do usuário"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          oneTimePassword: 
            description: "Codigo de verificação do dispositivo telefone celular do usuário"
            example: "123456"
            type: "string"
            format: "string"
        required: 
          - "federalTax"
          - "password"
          - "oneTimePassword"
      Address: 
        type: "object"
        properties: 
          addressId: 
            description: "ID do endereço"
            example: "12345678-1234-1234-1234-123456789012"
            format: "uuid"
            type: "string"
          createdBy: 
            description: "ID do criador do endereço"
            example: "12345678-1234-1234-1234-123456789012"
            format: "uuid"
            type: "string"
          country: 
            description: "País do endereço"
            example: "Pais"
            type: "string"
          stateName: 
            description: "Nome do estado do endereço"
            example: "Estado"
            type: "string"
          stateUF: 
            description: "UF do estado do endereço"
            example: "UF"
            type: "string"
          city: 
            description: "Cidade do endereço"
            example: "Cidade"
            type: "string"
          prefixCity: 
            description: "Prefixo da cidade do endereço"
            example: "Cid"
            type: "string"
          street: 
            description: "Rua do endereço"
            example: "Rua Exemplo"
            type: "string"
          addressNumber: 
            description: "Número do endereço"
            example: "123"
            type: "string"
          neighborhood: 
            description: "Bairro do endereço"
            example: "Bairro Exemplo"
            type: "string"
          reference: 
            description: "Ponto de referência do endereço"
            example: "Referência Exemplo"
            type: "string"
          additional: 
            description: "Descrição adicional do endereço"
            example: "Descrição adicional de Exemplo"
            type: "string"
          zip: 
            description: "CEP do endereço"
            example: "12345789"
            type: "string"
          plusCode: 
            description: "Google plus code do endereço"
            example: "583C694V+RP"
            type: "string"
          locationName: 
            description: "Nome da localidade/local que não possui endereço formal"
            example: "Localidade Exemplo - 12345"
            type: "string"
          coordinates: 
            description: "Coordenadas (latitude, longitude) do endereço"
            example: 
              - 
                - "-28.793043370422325"
                - "-51.605825771273764"
            type: "string"
          latitude: 
            description: "Latitude do endereço"
            example: "-28.793043370422325"
            type: "string"
          longitude: 
            description: "Longitude do endereço"
            example: "-51.605825771273764"
            type: "string"
          restrictions: 
            description: "Restrição de entrega/coleta de um endereço"
            example: "Trajeto/Localização/Endereço com restrição de entrega/coleta"
            type: "string"
      CreateAddress: 
        type: "object"
        properties: 
          country: 
            description: "País do endereço"
            example: "Pais"
            type: "string"
          stateName: 
            description: "Nome do estado do endereço"
            example: "Estado"
            type: "string"
          stateUF: 
            description: "UF do estado do endereço"
            example: "UF"
            type: "string"
          city: 
            description: "Cidade do endereço"
            example: "Cidade"
            type: "string"
          street: 
            description: "Rua do endereço"
            example: "Rua Exemplo"
            type: "string"
          addressNumber: 
            description: "Número do endereço"
            example: "123"
            type: "string"
          neighborhood: 
            description: "Bairro do endereço"
            example: "Bairro Exemplo"
            type: "string"
          reference: 
            description: "Ponto de referência do endereço"
            example: "Referencia Exemplo"
            type: "string"
          additional: 
            description: "Descrição adicional do endereço"
            example: "Descrição adicional de Exemplo"
            type: "string"
          zip: 
            description: "CEP do endereço"
            example: "12345789"
            type: "string"
          locationName: 
            description: "Nome da localidade/local que nao possui endereço formal"
            example: "Localidade Exemplo - 12345"
            type: "string"
          restrictions: 
            description: "Restrição de entrega/coleta de um endereço"
            example: "Trajeto/Localização/Endereço com restrição de entrega/coleta"
            type: "string"
          latitude: 
            description: "Latitude do endereço"
            example: "-28.793043370422325"
            type: "string"
          longitude: 
            description: "Longitude do endereço"
            example: "-51.605825771273764"
            type: "string"
          plusCode: 
            description: "Google plus code do endereço"
            example: "583C694V+RP"
            type: "string"
          created: 
            example: "2020-07-15T20:45:23.506-0300"
            format: "date-time"
            type: "string"
        required: 
          - "userId"
          - "country"
          - "stateName"
          - "stateUF"
          - "city"
          - "street"
          - "addressNumber"
          - "neighborhood"
          - "zip"
      UpdateAddress: 
        type: "object"
        properties: 
          country: 
            description: "País do endereço"
            example: "Pais"
            type: "string"
          stateName: 
            description: "Nome do estado do endereço"
            example: "Estado"
            type: "string"
          stateUF: 
            description: "UF do estado do endereço"
            example: "UF"
            type: "string"
          city: 
            description: "Cidade do endereço"
            example: "Cidade"
            type: "string"
          street: 
            description: "Rua do endereço"
            example: "Rua Exemplo"
            type: "string"
          addressNumber: 
            description: "Número do endereço"
            example: "123"
            type: "string"
          neighborhood: 
            description: "Bairro do endereço"
            example: "Bairro Exemplo"
            type: "string"
          reference: 
            description: "Ponto de referência do endereço"
            example: "Referência Exemplo"
            type: "string"
          additional: 
            description: "Descrição adicional do endereço"
            example: "Descrição adicional de Exemplo"
            type: "string"
          zip: 
            description: "CEP do endereço"
            example: "12345789"
            type: "string"
          plusCode: 
            description: "Google plus code do endereço"
            example: "583C694V+RP"
            type: "string"
          locationName: 
            description: "Nome da localidade/local que não possui endereço formal"
            example: "Localidade Exemplo - 12345"
            type: "string"
          latitude: 
            description: "Latitude do endereço"
            example: "-28.793043370422325"
            type: "string"
          longitude: 
            description: "Longitude do endereço"
            example: "-51.605825771273764"
            type: "string"
          restrictions: 
            description: "Restrição de entrega/coleta de um endereço"
            example: "Trajeto/Localização/Endereço com restrição de entrega/coleta"
            type: "string"
          modified: 
            example: "2020-07-15T20:45:23.506-0300"
            format: "date-time"
            type: "string"
      LoginUser: 
        type: "object"
        properties: 
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          password: 
            description: "Senha do usuário"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          type: 
            description: "Tipo do dispositivo"
            example: "mob/web"
            type: "string"
      LoginClient: 
        type: "object"
        properties: 
          federalTax: 
            description: "CNPJ da empresa"
            example: "12345678000099"
            type: "string"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          password: 
            description: "Senha da empresa"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          type: 
            description: "Tipo do dispositivo"
            example: "mob/web"
            type: "string"
      Token: 
        type: "object"
        properties: 
          message: 
            $ref: "#/components/schemas/Message"
          content: 
            properties: 
              jwt: 
                description: "JWT token"
                example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                type: "string"
              firstName: 
                description: "Primeiro nome do usuário"
                example: "Nome"
                type: "string"
              lastName: 
                description: "Sobrenome do usuário"
                example: "Sobrenome"
                type: "string"
              federalTax: 
                description: "CPF do usuário"
                example: "12345678900"
                type: "string"
              mobilePhone: 
                description: "Telefone celular do usuário"
                example: "5500912345678"
                type: "string"
              homePage: 
                description: "Página Home"
                example: "Shipments"
                type: "string"
              avgPunctual: 
                description: "Média das avaliações do motorista em pontualidade"
                example: 4.5
                format: "double"
                type: "number"
              avgLabor: 
                description: "Média das avaliações do motorista em qualidade"
                example: 4.6
                format: "double"
                type: "number"
              avgPresentation: 
                description: "Média das avaliações do motorista em apresentacao"
                example: 4.7
                format: "double"
                type: "number"
              avgAttitude: 
                description: "Média das avaliações do motorista em comportamento/atitudes"
                example: 4.8
                format: "double"
                type: "number"
              isDriver: 
                description: "Definição de motorista"
                example: false
                type: "boolean"
              transporterAtShipper: 
                description: "Definição se transportador possui como localização o emitente"
                example: false
                type: "boolean"
              radiusDelivery: 
                description: "Raio em metros da distância do local de entrega com o local de destino"
                example: 500
                type: "number"
                format: "int-32"
              gpsInterval: 
                description: "Frequência de atualização da posição geográfica do motorista"
                example: 30
                type: "number"
                format: "int-32"
              license: 
                description: "CNH do usuário"
                example: "123456789012345"
                type: "string"
              license_valid: 
                description: "Data da validade da CNH do motorista"
                example: "2020-07-15T"
                format: "date"
                type: "string"
              category: 
                description: "Categoria da CNH do motorista"
                example: "B"
                type: "string"
              emiter: 
                description: "Emitente da CNH do motorista"
                example: "ABCABC-ABC"
                type: "string"
              ratingEmitter: 
                description: "Avaliação do remetente. Quem avalia é o motorista ou destinatário"
                example: 3.5
                format: "double"
                type: "number"
              ratingShipment: 
                description: "Avaliação da qualidade da remessa. Quem avalia é o destinatário"
                example: 4.5
                format: "double"
                type: "number"
              ratingDestinator: 
                description: "Avaliação do destinatário. Quem avalia é o motorista"
                example: 4
                format: "double"
                type: "number"
              ratingDriver: 
                description: "Avaliação do motorista. Quem avalia é o destinatário"
                example: 5
                format: "double"
                type: "number"
              vehicle: 
                description: "Veículo atual do usuário"
                type: "object"
                $ref: "#/components/schemas/Vehicle"
              fingerPrint: 
                description: "Informações de sessão e dispositivo do usuário"
                type: "object"
                $ref: "#/components/schemas/FingerPrint"
              clients: 
                type: "array"
                items: 
                  properties: 
                    companyName: 
                      description: "Nome da empresa"
                      example: "Empresa"
                      type: "string"
                    tradeName: 
                      description: "Nome fantasia da empresa"
                      example: "Empresa"
                      type: "string"
                    prefixCompany: 
                      description: "Prefixo do transportador"
                      example: "CMP"
                      type: "string"
                    federalTax: 
                      description: "CNPJ da empresa"
                      example: "12345678000099"
                      type: "string"
                    apiKey: 
                      description: "ApiKey da empresa"
                      example: "XXeTewoxUI1d6qpxvbmyl8qBltZi6S251QCpmh4Q"
                      type: "string"
                    operatorType: 
                      description: "Tipo do operador"
                      example: "A"
                      type: "string"
                    successfulDeliveries: 
                      description: "Quantidade de sucesso em entregas"
                      example: 5
                      format: "int-32"
                      type: "number"
                    wrongDeliveries: 
                      description: "Quantidade de entregas com falha"
                      example: 1
                      format: "int-32"
                      type: "number"
                    isShipper: 
                      description: "Definição de emitente"
                      example: true
                      type: "boolean"
                    isDestinator: 
                      description: "Definição de destinatário"
                      example: false
                      type: "boolean"
                    isTransporter: 
                      description: "Definição de transportador"
                      example: true
                      type: "boolean"
                    ratingEmitter: 
                      description: "Avaliação do remetente. Quem avalia é o motorista ou destinatário"
                      example: 3.5
                      format: "double"
                      type: "number"
                    ratingShipment: 
                      description: "Avaliação da qualidade da remessa. Quem avalia é o destinatário"
                      example: 4.5
                      format: "double"
                      type: "number"
                    ratingDestinator: 
                      description: "Avaliação do destinatário. Quem avalia é o motorista"
                      example: 4
                      format: "double"
                      type: "number"
                    isPremium: 
                      description: "Definição de cliente premium com acesso e visualização do Google Maps"
                      example: true
                      type: "boolean"
                    podRequired: 
                      description: "Definição de captura de assinatura pelo transportador"
                      example: false
                      type: "boolean"
                    picRequired: 
                      description: "Definição de captura de foto pelo transportador"
                      example: false
                      type: "boolean"
                    checkRequired: 
                      description: "Definição de conferência dos unitizadores pelo transportador"
                      example: false
                      type: "boolean"
                    receiverRequired: 
                      description: "Definição de solicitação de dados pessoais do recebedor pelo transportador."
                      example: false
                      type: "boolean"
                    validateDataMatrixRequired: 
                      description: "Definição de permissão para geração de código DataMatrix pelo recebedor."
                      example: false
                      type: "boolean"
                    enableYard: 
                      description: "Definição de cliente habilitado para Portaria e Pátio"
                      example: false
                      type: "boolean"
                    enablePfm: 
                      description: "Definição de cliente habilitado para Movimentação interna"
                      example: false
                      type: "boolean"
                    enableAtm: 
                      description: "Definição de cliente habilitado para Rastreamento avançado"
                      example: false
                      type: "boolean"
                    enableLp3: 
                      description: "Definição de cliente habilitado para Montagem e otimização de carga em 3D"
                      example: false
                      type: "boolean"
                    enableFms: 
                      description: "Definição de cliente habilitado para Sistema de administração de frota"
                      example: false
                      type: "boolean"
                    enableAro: 
                      description: "Definição de cliente habilitado para Roteirização e otimização avançada de cargas"
                      example: false
                      type: "boolean"
                    enableIds: 
                      description: "Definição de cliente habilitado para Inspeção e documentos"
                      example: false
                      type: "boolean"
                    enableBia: 
                      description: "Definição de cliente habilitado para Business inteligence e analytics"
                      example: false
                      type: "boolean"
                    address: 
                      description: "Endereço da empresa"
                      type: "object"
                      $ref: "#/components/schemas/Address"
      CreatePodPic: 
        type: "object"
        properties: 
          pic: 
            type: "string"
            format: "binary"
      Image: 
        type: "object"
        properties: 
          imageId: 
            description: "Identificação numérica da imagem."
            example: "ab1cd2ef-34gh-56ij-78kl-mn910opqrs12"
            type: "string"
          imageName: 
            description: "Nome da imagem."
            example: "Pátio02"
            type: "string"
          groupBy: 
            description: "Data de criação."
            example: "Pátio/Veículos/Docas"
            type: "string"
            format: "date-time"
          description: 
            description: "Descrição da Imagem."
            example: "Mapa de visão superior"
            type: "string"
          imageUrl: 
            description: "Especifica o caminho para a imagem."
            example: "path/to/background.jpg"
            type: "string"
          created: 
            description: "Data de criação."
            example: "2024-10-20T07:25:00.000+0000"
            type: "string"
            format: "date-time"
          createdBy: 
            description: "ID do cliente que criou o registro."
            example: "ab1cd2ef-34gh-56ij-78kl-mn910opqrs12"
            format: "uuid"
            type: "string"
          modified: 
            description: "Data de modificação."
            example: "2024-10-22T19:50:00.000+0000"
            type: "string"
            format: "date-time"
      Message: 
        properties: 
          text: 
            description: "Texto de retorno"
            example: "Texto de retorno exemplo SUCESSO - OK/CREATED/NO_CONTENT."
            type: "string"
          type: 
            description: "Tipo da mensagem"
            example: "success"
            type: "string"
          status: 
            description: "Status complementar ao tipo."
            example: 200
            type: "number"
            format: "int-32"
      Ok: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo SUCESSO - OK / CREATED / NO_CONTENT."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "success"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 200
                type: "number"
                format: "int-32"
      BadRequest: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - BAD_REQUEST."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 400
                type: "number"
                format: "int-32"
      Unauthorized: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - UNAUTHORIZED."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 401
                type: "number"
                format: "int-32"
      Forbidden: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - FORBIDDEN."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 403
                type: "number"
                format: "int-32"
      NotFound: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - NOT_FOUND."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 404
                type: "number"
                format: "int-32"
      Conflict: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - CONFLICT."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 409
                type: "number"
                format: "int-32"
      InternalServer: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo ERRO - INTERNAL_SERVER."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "error"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 500
                type: "number"
                format: "int-32"
    headers: 
      Access-Control-Allow-Origin: 
        schema: 
          description: "Acesso à origem"
          type: "string"
      Access-Control-Allow-Methods: 
        schema: 
          description: "Acesso aos metodos"
          type: "string"
      Access-Control-Allow-Headers: 
        schema: 
          description: "Acesso aos cabeçalhos"
          type: "string"

