---
  openapi: "3.0.2"
  info: 
    title: "moreDraw"
    description: "**Bem-vindo à documentação da API do moreDraw.** Este documento foi projetado para ajudar os desenvolvedores e usuários do moreDraw a compreender e integrar totalmente nossas APIs para uma implantação **fácil** e **contínua**.\n\nNossas APIs são baseadas na arquitetura [REST](https://en.wikipedia.org/wiki/Representational_state_transfer) e usam os métodos básicos de solicitação [HTTP](https://developer.mozilla.org/pt-BR/docs/Web/HTTP/Methods). Para melhor compreensão, os recursos são listados juntamente com seus parâmetros obrigatórios, se houver, e seus exemplos de solicitações e respostas logo abaixo da descrição. As APIs aceitam solicitações de corpo codificado em [JSON](https://www.w3schools.com/whatis/whatis_json.asp) e retornam dados da mesma forma.\n\n# Guia de utilização\n- Nossas APIs usam os métodos de solicitação HTTP básicos: _POST_, _GET_, _PATCH_, _PUT_ e _DELETE_.\n- Você pode selecionar a resposta necessária de acordo com o código de status e visualizar o esquema de cada respectivo objeto.\n\n# Autenticação\n  - Nos recursos que possuem o ícone de cadeado (🔒), necessariamente é requisitado uma forma de autenticação na solicitação. Essa autenticação é realizada por intermédio do Bearer Token e/ou API Key. Observe que, para usar os modos de autenticação, você precisará passar o token ou a chave da API no seguinte formato no cabeçalho apropriado.\n  - Em casos de autenticação de usuário, será utilizado o `Authorization: Bearer <SEU_TOKEN>`, a cada tentativa de login bem sucedida será gerado um novo token.\n  - Em casos de autenticação de clientes, será utilizado a `x-api-key: <SUA_CHAVE>`, esta por sua vez é estática e única para cada cliente.\n\n# Paginação\n  - Nos recursos /unitloads e /shipments que possuem o método _GET_, quando a quantidade de items contidos no content for superior a 50, será retornado dentro do content o atributo `next`, que representará o próximo item a ser pesquisado.\n  - Para continuar realizando requisições para capturar as demais informações, deverá ser adicionado ao final do caminho atual `/next/{next}`, onde o `{next}` é o atributo recebido previamente.\n\n# Estrutura da resposta\n  - Após realizar a requisição, será retornado uma resposta com a seguinte estrutura:\n```\n{\n  \"content\": {} Objeto que contêm as informações da entidade relacionada.\n  \"message\": {\n    \"text\": Mensagem representando a saída da requisição.\n    \"type\": Tipo da saída da requisição. success / info / warning / error.\n    \"status\": Código de status da saída da requisição, detalhado na tabela de códigos de resposta.\n  }\n}\n```\n\n# Códigos de resposta\n  - Ao usar as APIs do moreDraw, você pode encontrar algumas respostas padrão e códigos de erro baseados nos códigos de status [HTTP](https://developer.mozilla.org/pt-BR/docs/Web/HTTP/Status). Os mais comuns são listados junto com suas descrições da seguinte forma:\n\n| Código de resposta | Descrição |\n| -------------------------- | -------------------------- |\n| **200** - OK | Tudo funcionou conforme o esperado. A resposta é exibida ou o processamento é iniciado. |\n| **201** - CREATED | Tudo funcionou conforme o esperado e o determinado processo do objeto foi criado. A resposta é exibida ou o processamento é iniciado. |\n| **204** - NO_CONTENT | Tudo funcionou conforme o esperado. O conteúdo da resposta não é exibida. |\n| **400** - BAD_REQUEST | A solicitação de requisição é inaceitável ou contém equívocos, geralmente devido à falta de parâmetros ou atributos obrigatórios. |\n| **401** - UNAUTHORIZED | Existe algum erro na validação. Necessário verificar as credenciais, Bearer token ou API Key. |\n| **403** - FORBIDDEN | Existe algum erro de permissão, geralmente devido à falta de atribuição de permissionamento para realizar determinada tarefa. |\n| **404** - NOT_FOUND | Existe algum erro ao buscar determinado objeto, geralmente devido à incoerência de chaves de buscas com chaves previamente já cadastradas. |\n| **405** - METHOD_NOT_ALLOWED | Existe alguma incoerência ao realizar a solicitação de requisição, geralmente devido ao equívoco do método HTTP utilizado. |\n| **409** - CONFLICT | Existe algum erro ao cadastrar determinado objeto, geralmente devido à já existência do mesmo no banco de dados. |\n| **429** - TO_MANY_REQUESTS | O limite de requisições de uma determinada chave foi atingido. Favor verificar o plano de uso atual, se preciso dar continuidade será necessário solicitar uma extensão, e em casos de dúvidas contatar o suporte. |\n| **500** - INTERNAL_SERVER | Ocorreu algum erro na parte do servidor, geralmente devido à falta de algum parâmetro ou atributos com erros de sintaxe. |\n| **502** - BAD_GATEWAY | Erro de descrição de caminho na solicitação da requisição, diferentemente do 405 onde o recurso existe mas não foi requisitado com o método correto, o 502 significa que o recurso não existe na API. |\n| **504** - GATEWAY_TIMEOUT | Erro no parte do servidor, geralmente devido ao tempo execução que foi excedido e não conseguiu retornar uma mensagem a tempo. |\n\n# Suporte\n-   Todas as informações necessárias sobre a integração são apresentadas neste documento. Por favor, leia com atenção.\n-   Para qualquer integração e suporte relacionado à API, sinta-se à vontade para nos enviar uma mensagem no [WhatsApp](https://api.whatsapp.com/send/?phone=555496426629).\n-   Os termos de serviço do moreDraw estão listados aqui: [Termos de serviço](https://admin.moreDraw.com.br/)"
    version: "1.0.0"
  tags: 
    - 
      name: "Usuários"
      description: "Os usuários representam a entidade mais simplória de uma pessoa física.\nEles podem pertencer a equipes sendo possível executar uma tarefa, realizar operações de remetente e destinatário, realizar a gestão de seus unitizadores, etiquetas e favoritos."
    - 
      name: "Image"
      description: "Componentes Gráficos."
  servers: 
    - 
      url: "https://api.moreDraw.com.br/{environment}"
      variables: 
        environment: 
          default: "v1"
          enum: 
            - "dev"
            - "v1"
  paths: 
    /http/users: 
      post: 
        description: "Esta API é utilizada para cadastrar um ou uma lista de novos usuários.\nNecessário informar os atributos do usuário no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| firstName | Primeiro nome do usuário | String(3-255) | Sim |\n| lastName | Sobrenome do usuário | String(3-255) | Sim |\n| federalTax | CPF do usuário | String(11) | Sim |\n| password | Senha do usuário | String(6,255) | Sim |\n| mobilePhone | Telefone celular do usuário | String(14) | Sim |\n| notify | Disponibilidade para enviar notificação | Boolean | Sim |\n| disability | Possível deficiência | Character | Não |\n| created | Instante da ocorrência do evento, caso nulo será atribuido de acordo com o instante do servidor | DateTime<String> | Não |\n| address | Endereco do usuário | Object | Não |\n| address.country | País do endereço | String<3,255> | Sim |\n| address.stateName | Nome do estado do endereço | String<3,255> | Não |\n| address.stateUF | UF do estado do endereço | String<2> | Sim |\n| address.city | Cidade do endereço | String<3,255> | Sim |\n| address.street | Rua do endereço | String<3,255> | Sim |\n| address.addressNumber | Número do endereço | String<1,255> | Não |\n| address.neighborhood | Bairro do endereço | String<3,255> | Não |\n| address.reference | Ponto de referência do endereço | String<3,255> | Não |\n| address.additional | Descrição adicional do endereço | String<3,255> | Não |\n| address.zip | CEP do endereço | String<8> | Sim |\n| address.locationName | Nome da localidade/local que nao possui endereço formal | String<3,255> | Não |\n| address.restrictions | Restrição de entrega/coleta de um endereço | String<3,255> | Não |\n| users | Lista de objetos de usuários que devem ser criados, com os mesmos atributos destalhados acima | Array<Object> | Sim, quando for necessário criar vários usuário em uma única requisição |"
        operationId: "postUsers"
        summary: "Cadastra usuário"
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postUsers/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        requestBody: 
          required: true
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/CreateUser"
        responses: 
          200: 
            description: "Usuário cadastrado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          409: 
            description: "Conflict"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Conflict"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
      put: 
        description: "Esta API é utilizada para atualizar os dados de um usuário.\nNecessário informar os atributos do usuário no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| email | Email do usuário | String(6,255) | Não |\n| phone | Telefone do usuário | String(6,255) | Não |\n| mobilePhone | Telefone celular do usuário | String(14) | Não |\n| notify | Disponibilidade para enviar notificação | Boolean | Não |\n| disability | Possível deficiência | Character | Não |\n| isDriver | Definição de motorista | Boolean | Não |\n| licenseValid | Data da validade da CNH do motorista | String(3,255) | Não |\n| category | Categoria da CNH do motorista | Character | Não |\n| emiter | Emitente da CNH do motorista | String(3,255) | Não |\n| modified | Instante da ocorrência do evento, caso nulo será atribuido de acordo com o instante do servidor | DateTime<String> | Não |\n| address | Endereco do usuário | Object | Não |\n| address.country | País do endereço | String<3,255> | Sim |\n| address.stateName | Nome do estado do endereço | String<3,255> | Não |\n| address.stateUF | UF do estado do endereço | String<2> | Sim |\n| address.city | Cidade do endereço | String<3,255> | Sim |\n| address.street | Rua do endereço | String<3,255> | Sim |\n| address.addressNumber | Número do endereço | String<1,255> | Não |\n| address.neighborhood | Bairro do endereço | String<3,255> | Não |\n| address.reference | Ponto de referência do endereço | String<3,255> | Não |\n| address.additional | Descrição adicional do endereço | String<3,255> | Não |\n| address.zip | CEP do endereço | String<8> | Sim |\n| address.locationName | Nome da localidade/local que nao possui endereço formal | String<3,255> | Não |\n| address.restrictions | Restrição de entrega/coleta de um endereço | String<3,255> | Não |"
        operationId: "putUsers"
        summary: "Atualiza usuário"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-putUsers/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        requestBody: 
          required: true
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/UpdateUser"
        responses: 
          200: 
            description: "Usuário atualizado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/UserResponse"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
      get: 
        description: "Esta API é utilizada para capturar os detalhes de um usuário em específico."
        operationId: "getUsers"
        summary: "Captura usuário"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-getUsers/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        responses: 
          200: 
            description: "Usuário capturado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/UserHistory"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
      delete: 
        description: "Esta API é utilizada para remover um usuário em específico."
        operationId: "deleteUsers"
        summary: "Remove usuário"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-deleteUsers/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        responses: 
          204: 
            description: "Usuário removido com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /http/users/login: 
      post: 
        description: "| Tipo | Dispositivo |\n| -- | -- |\n| mob | mobile |\n| web | navegador |\n\nEsta API é utilizada para realizar a entrada de um usuário na aplicação.\nNecessário informar as credenciais no corpo da requisição.\nNecessário informar o tipo do dispositivo no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| mobilePhone | Telefone celular do usuário | String(14) | Sim |\n| password | Senha do usuário | String(6,255) | Sim |\n| federalTax | CNPJ da empresa | String(14) | Mobile Não, Web Sim |\n| type | Tipo do dispositivo | String(3) | Sim |"
        operationId: "postLoginUsers"
        summary: "Login"
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postUsersLogin/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        requestBody: 
          content: 
            application/json: 
              schema: 
                oneOf: 
                  - 
                    $ref: "#/components/schemas/LoginUser"
                  - 
                    $ref: "#/components/schemas/LoginClient"
        responses: 
          200: 
            description: "Login realizado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Token"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /http/users/verify: 
      post: 
        description: "Esta API é utilizada para verificar o dispositivo de telefone celular do novo usuário.\nNecessário informar os atributos do usuário no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| mobilePhone | Telefone celular do usuário | String(14) | Sim |\n| oneTimePassword | Código de verificação do dispositivo telefone celular do usuário | String(6) | Sim |"
        operationId: "postVerifyUsers"
        summary: "Verificação dispositivo celular"
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postUsersVerify/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        requestBody: 
          required: true
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/VerifyUser"
        responses: 
          200: 
            description: "Dispositivo celular autenticado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
      put: 
        description: "Esta API é utilizada para realizar o reenvio do código de verificação do dispositivo do usuário.\nNecessário informar os atributos do código de verificação no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| mobilePhone | Telefone celular do usuário | String(3,255) | Sim |"
        operationId: "putUsersVerify"
        summary: "Cria novo código de verificação"
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-putUsersVerify/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        requestBody: 
          required: true
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GenerateOneTimePassword"
        responses: 
          200: 
            description: "Novo código de verificação gerado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /rest/users/find: 
      get: 
        description: "Esta API é utilizada para capturar os detalhes de um usuário ou cliente em específico por intermédio do CPF/CNPJ, Telefone/Celular ou Nome do mesmo.\nNecessário informar o CPF/CNPJ, telefone celular ou nome no caminho da requisição."
        operationId: "getUsersFind"
        summary: "Captura usuário ou cliente pelo CPF/CNPJ, Telefone/Celular ou Nome"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Usuários"
        parameters: 
          - 
            name: "federalTax"
            description: "CPF ou CNPJ do respectivo usuario ou cliente."
            example: "12345678900"
            in: "query"
            required: false
            schema: 
              type: "string"
          - 
            name: "mobilePhone"
            description: "Telefone celular do respectivo usuario ou cliente."
            example: "5500912345678"
            in: "query"
            required: false
            schema: 
              type: "string"
          - 
            name: "name"
            description: "Nome da razão social, fantasia da empresa, pessoa fisica ou jurídica"
            example: "Nome exemplo"
            in: "query"
            required: false
            schema: 
              type: "string"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-getUsersFind/invocations"
          passthroughBehavior: "when_no_match"
          httpMethod: "POST"
          type: "aws_proxy"
        responses: 
          200: 
            description: "Usuário capturado com sucesso"
            content: 
              application/json: 
                schema: 
                  oneOf: 
                    - 
                      $ref: "#/components/schemas/UserResponse"
                    - 
                      $ref: "#/components/schemas/ClientResponse"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /rest/picture: 
      post: 
        description: "Esta API é utilizada para submeter foto de perfil de um usuário.\nNecessário informar o a foto no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| picUser | Avatar do usuário | MultiPart-Form/Data | Sim |"
        operationId: "postUsersPicture"
        summary: "Envio de foto de perfil do usuário"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Usuários"
          - "Clientes"
        requestBody: 
          required: true
          content: 
            multipart/form-data: 
              schema: 
                $ref: "#/components/schemas/CreatePodPic"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postUsersPicture/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        responses: 
          200: 
            description: "Enviado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /http/users/password/forget: 
      post: 
        description: "Esta API é utilizada para iniciar o processo de recuperação / alteração de senha.\nNecessário informar os atributos do usuário no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| mobilePhone | Telefone celular do usuário | String(14) | Sim |"
        operationId: "postUsersForgetPassword"
        summary: "Informa número de celular para iniciar processo de recuparação de senha."
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postUsersForgetPassword/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        requestBody: 
          required: true
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/GenerateOneTimePassword"
        responses: 
          200: 
            description: "Processo de alteração de senha iniciado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /http/users/password/verify: 
      post: 
        description: "Esta API é utilizada para confirmar a alteração / recuperação da senha do usuário.\nNecessário informar os atributos do usuário no corpo da requisição.\n\n| Atributo | Descrição | Tipo(tamanho) | Obrigatório\n|--|--|--|--|\n| federalTax | CPF do usuário | String(11) | Sim |\n| password | Nova senha do usuário | String(6,255) | Sim |\n| oneTimePassword | Código de verificação do dispositivo telefone celular do usuário | String(6) | Sim |"
        operationId: "postUsersVerifyPassword"
        summary: "Informa CPF, nova senha e código de verificação para confirmar processo de recuparação de senha."
        tags: 
          - "Usuários"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postUsersVerifyPassword/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
          connectionType: "INTERNET"
        requestBody: 
          required: true
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/VerifyPassword"
        responses: 
          200: 
            description: "Senha alterada com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /image/{imageId}: 
      put: 
        description: "Esta API é utilizada para atualizar uma imagem existente.\nNecessário informar o identificador da imagem no caminho da requisição.\nOs atributos atualizáveis da imagem devem ser fornecidos no corpo da requisição.\n\n| Atributo               | Descrição                                                               | Tipo(tamanho)       | Obrigatório |\n|------------------------|-------------------------------------------------------------------------|---------------------|-------------|\n| imageId                | Identificação numérica do imagea                                        | Integer             | Sim         |\n| imageName              | Nome do imagea                                                          | String(3-255)       | Sim         |\n| groupBy                | Grupo ao qual a Imagem pertence                                         | String(3-255)       | Sim         |\n| description            | Descrição da Imagem                                                     | String(3-255)       | Sim         |\n| imageUrl               | Url da Imagem                                                           | String(3-255)       | Sim         |\n| created                | Data de criação                                                         | DateTime<String>    | Não         |\n| createdBy              | ID do cliente que criou o registro                                      | String              | Não         |\n| modified               | Data de modificação                                                     | DateTime<String>    | Não         |\n"
        operationId: "putImage"
        summary: "Atualiza uma imagem existente"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Image"
        parameters: 
          - 
            name: "imageId"
            in: "path"
            required: true
            description: "O ID único da image que será atualizada"
            schema: 
              type: "string"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-putImage/invocations"
          passthroughBehavior: "when_no_match"
          httpMethod: "POST"
          type: "aws_proxy"
        requestBody: 
          required: true
          content: 
            application/json: 
              schema: 
                $ref: "#/components/schemas/Image"
        responses: 
          200: 
            description: "Imagea de pátio atualizado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Image"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "Internal Server Error"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
      delete: 
        description: "Esta API é utilizada para excluir uma imagem de pátio existente.\nNecessário informar o identificador da image no caminho da requisição.\n"
        operationId: "deleteImage"
        summary: "Exclui um imagea de pátio existente"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Image"
        parameters: 
          - 
            name: "imageId"
            in: "path"
            required: true
            description: "O ID único do imagea que será excluído"
            schema: 
              type: "string"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-deleteImage/invocations"
          passthroughBehavior: "when_no_match"
          httpMethod: "POST"
          type: "aws_proxy"
        responses: 
          200: 
            description: "Imagea de pátio excluído com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Image"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "Internal Server Error"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /image: 
      get: 
        description: "Esta API é utilizada para capturar os detalhes de um image.\nAo informar \"all\" como parâmetro retorna todas as imagens\n"
        operationId: "getImage"
        summary: "Captura detalhes das imagens"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Image"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-getImage/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
        responses: 
          200: 
            description: "Imagea capturado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Image"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          401: 
            description: "Não autorizado"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "Não encontrado"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "Erro interno do servidor"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
      post: 
        description: "Esta API é utilizada para cadastrar um novo imagea de pátio.\nNecessário informar os atributos do imagea no corpo da requisição.\n\n| Atributo               | Descrição                                                               | Tipo(tamanho)       | Obrigatório |\n|------------------------|-------------------------------------------------------------------------|---------------------|-------------|\n| imageId                | Identificação numérica do imagea                                        | Integer             | Sim         |\n| imageName              | Nome do imagea                                                          | String(3-255)       | Sim         |\n| groupBy                | Grupo ao qual a Imagem pertence                                         | String(3-255)       | Sim         |\n| description            | Descrição da Imagem                                                     | String(3-255)       | Sim         |\n| imageUrl               | Url da Imagem                                                           | String(3-255)       | Sim         |\n| created                | Data de criação                                                         | DateTime<String>    | Não         |\n| createdBy              | ID do cliente que criou o registro                                      | String              | Não         |\n| modified               | Data de modificação                                                     | DateTime<String>    | Não         |\n"
        operationId: "postImage"
        summary: "Cadastra uma nova imagem"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Image"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-postImage/invocations"
          passthroughBehavior: "when_no_match"
          httpMethod: "POST"
          type: "aws_proxy"
        requestBody: 
          required: true
          content: 
            multipart/form-data: 
              schema: 
                type: "object"
                properties: 
                  picImage: 
                    type: "string"
                    format: "binary"
                    description: "A imagem que será enviada"
                  jsonImage: 
                    type: "string"
                    description: "Os metadados da imagem no formato JSON:\n```json\n{\n  \"imageId\": 123,\n  \"imageName\": \"Exemplo de Imagem\",\n  \"groupBy\": \"Grupo Teste\",\n  \"description\": \"Uma descrição de teste\"\n}\n```\n"
                required: 
                  - "picImage"
                  - "jsonImage"
              encoding: 
                jsonImage: 
                  contentType: "application/json"
              examples: 
                exemplo1: 
                  summary: "Requisição de exemplo"
                  description: "Um exemplo com JSON e arquivo"
                  value: 
                    picImage: "(Arquivo binário)"
                    jsonImage: "{\n  \"imageId\": 123,\n  \"imageName\": \"Exemplo de Imagem\",\n  \"groupBy\": \"Grupo Teste\",\n  \"description\": \"Uma descrição de teste\"\n}\n"
        responses: 
          200: 
            description: "Imagea de pátio cadastrado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Image"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "Internal Server Error"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
    /image/picture/{imageId}: 
      put: 
        description: "Esta API é utilizada para submeter foto do imagea.\nNecessário informar a foto no corpo da requisição.\n\n| Atributo           | Descrição             | Tipo(tamanho)        | Obrigatório |\n|--------------------|----------------------|-----------------------|-------------|\n| picImage       | Imagem               | MultiPart-Form/Data   | Sim         |\n| imageId        | ID da imagem         | Path (string)         | Sim         |\n"
        operationId: "putImagePicture"
        summary: "Envio de foto da imagem"
        security: 
          - 
            bearerAuth: []
        tags: 
          - "Image"
        parameters: 
          - 
            name: "imageId"
            in: "path"
            required: true
            description: "O ID único da imagem que será atualizada"
            schema: 
              type: "string"
        requestBody: 
          required: true
          content: 
            multipart/form-data: 
              schema: 
                type: "object"
                properties: 
                  picImage: 
                    type: "string"
                    format: "binary"
                    description: "A imagem que será enviada"
                required: 
                  - "picImage"
        x-amazon-apigateway-integration: 
          uri: "arn:aws:apigateway:us-east-1:lambda:path/2015-03-31/functions/arn:aws:lambda:us-east-1:170387992571:function:${stageVariables.Stage}-putImagePicture/invocations"
          payloadFormatVersion: "2.0"
          type: "aws_proxy"
          httpMethod: "POST"
        responses: 
          200: 
            description: "Enviado com sucesso"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Ok"
            headers: 
              Access-Control-Allow-Origin: 
                $ref: "#/components/headers/Access-Control-Allow-Origin"
              Access-Control-Allow-Methods: 
                $ref: "#/components/headers/Access-Control-Allow-Methods"
              Access-Control-Allow-Headers: 
                $ref: "#/components/headers/Access-Control-Allow-Headers"
          400: 
            description: "BadRequest"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/BadRequest"
          401: 
            description: "Unauthorized"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/Unauthorized"
          404: 
            description: "NotFound"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/NotFound"
          500: 
            description: "InternalServer"
            content: 
              application/json: 
                schema: 
                  $ref: "#/components/schemas/InternalServer"
  components: 
    securitySchemes: 
      bearerAuth: 
        type: "http"
        scheme: "bearer"
        bearerFormat: "JWT"
    schemas: 
      User: 
        type: "object"
        properties: 
          userId: 
            description: "ID do usuário"
            example: "12345678-1234-1234-1234-123456789012"
            format: "uuid"
            type: "string"
          firstName: 
            description: "Primeiro nome do usuário"
            example: "Nome"
            type: "string"
          lastName: 
            description: "Sobrenome do usuário"
            example: "Sobrenome"
            type: "string"
          federalTax: 
            description: "CPF do usuário"
            example: "12345678900"
            type: "string"
          RG: 
            description: "RG do usuário"
            example: "1234567890"
            type: "string"
          email: 
            description: "Email do usuário"
            example: "nome_sobrenome@mail.com"
            type: "string"
          phone: 
            description: "Telefone do usuário"
            example: "5500012345678"
            type: "string"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          notify: 
            description: "Disponibilidade para enviar notificação"
            example: true
            type: "boolean"
          locale: 
            description: "Linguagem utilizada pelo usuário"
            example: "PT-BR"
            type: "string"
          sumRatingShipper: 
            description: "Média das avaliações de emitente"
            example: "4.6"
            type: "string"
          sumRatingShipment: 
            description: "Média das avaliações de remessas"
            example: "4.7"
            type: "string"
          sumRatingDestinator: 
            description: "Média das avaliações do destinatario"
            example: "4.8"
            type: "string"
          sumRatingDriver: 
            description: "Média das avaliações do motorista"
            example: "4.8"
            type: "string"
          isDriver: 
            description: "Definição de motorista"
            example: false
            type: "boolean"
          license: 
            description: "CNH do usuário"
            example: "123456789012345"
            type: "string"
          disability: 
            description: "Possível deficiência"
            example: "Deficiência visual, auditiva, física"
            type: "string"
          license_valid: 
            description: "Data da validade da CNH do motorista"
            example: "2020-07-15T"
            format: "date"
            type: "string"
          category: 
            description: "Categoria da CNH do motorista"
            example: "B"
            type: "string"
          emiter: 
            description: "Emitente da CNH do motorista"
            example: "ABCABC-ABC"
            type: "string"
          birthDate: 
            description: "Data de nascimento do usuário"
            example: "DD/MM/AAAA"
            type: "string"
          vehicle: 
            description: "Veículo atual do usuário"
            type: "object"
            $ref: "#/components/schemas/Vehicle"
          address: 
            description: "Endereço do usuário"
            type: "object"
            $ref: "#/components/schemas/Address"
      UpdateUser: 
        type: "object"
        properties: 
          email: 
            description: "Email do usuário"
            example: "nome_sobrenome@mail.com"
            type: "string"
          phone: 
            description: "Telefone do usuário"
            example: "550012345678"
            type: "string"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "55000912345678"
            type: "string"
          notify: 
            description: "Disponibilidade para enviar notificação"
            example: true
            type: "boolean"
          disability: 
            description: "Possível deficiência"
            example: "Deficiência visual, auditiva, física"
            type: "string"
          isDriver: 
            description: "Definição de motorista"
            example: false
            type: "boolean"
          license: 
            description: "CNH do usuário"
            example: "123456789012345"
            type: "string"
          licenseValid: 
            description: "Data da validade da CNH do motorista"
            example: "2020-07-15T"
            format: "date"
            type: "string"
          category: 
            description: "Categoria da CNH do motorista"
            example: "B"
            type: "string"
          emiter: 
            description: "Emitente da CNH do motorista"
            example: "ABCABC-ABC"
            type: "string"
          locale: 
            description: "Linguagem utilizada pelo usuário"
            example: "PT-BR"
            type: "string"
          modified: 
            example: "2020-07-15T20:45:23.506-0300"
            format: "date-time"
            type: "string"
          address: 
            description: "Endereco do usuário"
            type: "object"
            oneOf: 
              - 
                $ref: "#/components/schemas/CreateAddress"
              - 
                $ref: "#/components/schemas/UpdateAddress"
      UserResponse: 
        type: "object"
        properties: 
          message: 
            $ref: "#/components/schemas/Message"
          content: 
            $ref: "#/components/schemas/User"
      CreateUser: 
        type: "object"
        properties: 
          firstName: 
            description: "Primeiro nome do usuário"
            example: "Nome"
            type: "string"
          lastName: 
            description: "Sobrenome do usuário"
            example: "Sobrenome"
            type: "string"
          federalTax: 
            description: "CPF do usuário"
            example: "12345678900"
            type: "string"
          password: 
            description: "Senha do usuário"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          notify: 
            description: "Disponibilidade para enviar notificação"
            example: true
            type: "boolean"
          disability: 
            description: "Possível deficiência"
            example: "Deficiência visual, auditiva, física"
            type: "string"
          created: 
            example: "2020-07-15T20:45:23.506-0300"
            format: "date-time"
            type: "string"
          address: 
            description: "Endereco do usuário"
            type: "object"
            $ref: "#/components/schemas/CreateAddress"
          users: 
            description: "Lista de usuários"
            type: "array"
            items: 
              description: "Objeto de criação do usuário"
              type: "object"
              $ref: "#/components/schemas/CreateUser"
        required: 
          - "firstName"
          - "lastName"
          - "federalTax"
          - "password"
          - "mobilePhone"
      VerifyUser: 
        type: "object"
        properties: 
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          oneTimePassword: 
            description: "Codigo de verificação do dispositivo telefone celular do usuário"
            example: "123456"
            type: "string"
            format: "string"
      GenerateOneTimePassword: 
        type: "object"
        properties: 
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
      VerifyPassword: 
        type: "object"
        properties: 
          federalTax: 
            description: "CPF do usuário"
            example: "12345678900"
            type: "string"
          password: 
            description: "Senha do usuário"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          oneTimePassword: 
            description: "Codigo de verificação do dispositivo telefone celular do usuário"
            example: "123456"
            type: "string"
            format: "string"
        required: 
          - "federalTax"
          - "password"
          - "oneTimePassword"
      LoginUser: 
        type: "object"
        properties: 
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          password: 
            description: "Senha do usuário"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          type: 
            description: "Tipo do dispositivo"
            example: "mob/web"
            type: "string"
      LoginClient: 
        type: "object"
        properties: 
          federalTax: 
            description: "CNPJ da empresa"
            example: "12345678000099"
            type: "string"
          mobilePhone: 
            description: "Telefone celular do usuário"
            example: "5500912345678"
            type: "string"
          password: 
            description: "Senha da empresa"
            example: "Senh@Exemplo123"
            type: "string"
            format: "password"
          type: 
            description: "Tipo do dispositivo"
            example: "mob/web"
            type: "string"
      Token: 
        type: "object"
        properties: 
          message: 
            $ref: "#/components/schemas/Message"
          content: 
            properties: 
              jwt: 
                description: "JWT token"
                example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c"
                type: "string"
              firstName: 
                description: "Primeiro nome do usuário"
                example: "Nome"
                type: "string"
              lastName: 
                description: "Sobrenome do usuário"
                example: "Sobrenome"
                type: "string"
              federalTax: 
                description: "CPF do usuário"
                example: "12345678900"
                type: "string"
              mobilePhone: 
                description: "Telefone celular do usuário"
                example: "5500912345678"
                type: "string"
              homePage: 
                description: "Página Home"
                example: "Shipments"
                type: "string"
              avgPunctual: 
                description: "Média das avaliações do motorista em pontualidade"
                example: 4.5
                format: "double"
                type: "number"
              avgLabor: 
                description: "Média das avaliações do motorista em qualidade"
                example: 4.6
                format: "double"
                type: "number"
              avgPresentation: 
                description: "Média das avaliações do motorista em apresentacao"
                example: 4.7
                format: "double"
                type: "number"
              avgAttitude: 
                description: "Média das avaliações do motorista em comportamento/atitudes"
                example: 4.8
                format: "double"
                type: "number"
              isDriver: 
                description: "Definição de motorista"
                example: false
                type: "boolean"
              transporterAtShipper: 
                description: "Definição se transportador possui como localização o emitente"
                example: false
                type: "boolean"
              radiusDelivery: 
                description: "Raio em metros da distância do local de entrega com o local de destino"
                example: 500
                type: "number"
                format: "int-32"
              gpsInterval: 
                description: "Frequência de atualização da posição geográfica do motorista"
                example: 30
                type: "number"
                format: "int-32"
              license: 
                description: "CNH do usuário"
                example: "123456789012345"
                type: "string"
              license_valid: 
                description: "Data da validade da CNH do motorista"
                example: "2020-07-15T"
                format: "date"
                type: "string"
              category: 
                description: "Categoria da CNH do motorista"
                example: "B"
                type: "string"
              emiter: 
                description: "Emitente da CNH do motorista"
                example: "ABCABC-ABC"
                type: "string"
              ratingEmitter: 
                description: "Avaliação do remetente. Quem avalia é o motorista ou destinatário"
                example: 3.5
                format: "double"
                type: "number"
              ratingShipment: 
                description: "Avaliação da qualidade da remessa. Quem avalia é o destinatário"
                example: 4.5
                format: "double"
                type: "number"
              ratingDestinator: 
                description: "Avaliação do destinatário. Quem avalia é o motorista"
                example: 4
                format: "double"
                type: "number"
              ratingDriver: 
                description: "Avaliação do motorista. Quem avalia é o destinatário"
                example: 5
                format: "double"
                type: "number"
              vehicle: 
                description: "Veículo atual do usuário"
                type: "object"
                $ref: "#/components/schemas/Vehicle"
              fingerPrint: 
                description: "Informações de sessão e dispositivo do usuário"
                type: "object"
                $ref: "#/components/schemas/FingerPrint"
              clients: 
                type: "array"
                items: 
                  properties: 
                    companyName: 
                      description: "Nome da empresa"
                      example: "Empresa"
                      type: "string"
                    tradeName: 
                      description: "Nome fantasia da empresa"
                      example: "Empresa"
                      type: "string"
                    prefixCompany: 
                      description: "Prefixo do transportador"
                      example: "CMP"
                      type: "string"
                    federalTax: 
                      description: "CNPJ da empresa"
                      example: "12345678000099"
                      type: "string"
                    apiKey: 
                      description: "ApiKey da empresa"
                      example: "XXeTewoxUI1d6qpxvbmyl8qBltZi6S251QCpmh4Q"
                      type: "string"
                    operatorType: 
                      description: "Tipo do operador"
                      example: "A"
                      type: "string"
                    successfulDeliveries: 
                      description: "Quantidade de sucesso em entregas"
                      example: 5
                      format: "int-32"
                      type: "number"
                    wrongDeliveries: 
                      description: "Quantidade de entregas com falha"
                      example: 1
                      format: "int-32"
                      type: "number"
                    isShipper: 
                      description: "Definição de emitente"
                      example: true
                      type: "boolean"
                    isDestinator: 
                      description: "Definição de destinatário"
                      example: false
                      type: "boolean"
                    isTransporter: 
                      description: "Definição de transportador"
                      example: true
                      type: "boolean"
                    ratingEmitter: 
                      description: "Avaliação do remetente. Quem avalia é o motorista ou destinatário"
                      example: 3.5
                      format: "double"
                      type: "number"
                    ratingShipment: 
                      description: "Avaliação da qualidade da remessa. Quem avalia é o destinatário"
                      example: 4.5
                      format: "double"
                      type: "number"
                    ratingDestinator: 
                      description: "Avaliação do destinatário. Quem avalia é o motorista"
                      example: 4
                      format: "double"
                      type: "number"
                    isPremium: 
                      description: "Definição de cliente premium com acesso e visualização do Google Maps"
                      example: true
                      type: "boolean"
                    podRequired: 
                      description: "Definição de captura de assinatura pelo transportador"
                      example: false
                      type: "boolean"
                    picRequired: 
                      description: "Definição de captura de foto pelo transportador"
                      example: false
                      type: "boolean"
                    checkRequired: 
                      description: "Definição de conferência dos unitizadores pelo transportador"
                      example: false
                      type: "boolean"
                    receiverRequired: 
                      description: "Definição de solicitação de dados pessoais do recebedor pelo transportador."
                      example: false
                      type: "boolean"
                    validateDataMatrixRequired: 
                      description: "Definição de permissão para geração de código DataMatrix pelo recebedor."
                      example: false
                      type: "boolean"
                    enableYard: 
                      description: "Definição de cliente habilitado para Portaria e Pátio"
                      example: false
                      type: "boolean"
                    enablePfm: 
                      description: "Definição de cliente habilitado para Movimentação interna"
                      example: false
                      type: "boolean"
                    enableAtm: 
                      description: "Definição de cliente habilitado para Rastreamento avançado"
                      example: false
                      type: "boolean"
                    enableLp3: 
                      description: "Definição de cliente habilitado para Montagem e otimização de carga em 3D"
                      example: false
                      type: "boolean"
                    enableFms: 
                      description: "Definição de cliente habilitado para Sistema de administração de frota"
                      example: false
                      type: "boolean"
                    enableAro: 
                      description: "Definição de cliente habilitado para Roteirização e otimização avançada de cargas"
                      example: false
                      type: "boolean"
                    enableIds: 
                      description: "Definição de cliente habilitado para Inspeção e documentos"
                      example: false
                      type: "boolean"
                    enableBia: 
                      description: "Definição de cliente habilitado para Business inteligence e analytics"
                      example: false
                      type: "boolean"
                    address: 
                      description: "Endereço da empresa"
                      type: "object"
                      $ref: "#/components/schemas/Address"
      CreatePodPic: 
        type: "object"
        properties: 
          pic: 
            type: "string"
            format: "binary"
      Image: 
        type: "object"
        properties: 
          imageId: 
            description: "Identificação numérica da imagem."
            example: "ab1cd2ef-34gh-56ij-78kl-mn910opqrs12"
            type: "string"
          imageName: 
            description: "Nome da imagem."
            example: "Pátio02"
            type: "string"
          groupBy: 
            description: "Data de criação."
            example: "Pátio/Veículos/Docas"
            type: "string"
            format: "date-time"
          description: 
            description: "Descrição da Imagem."
            example: "Mapa de visão superior"
            type: "string"
          imageUrl: 
            description: "Especifica o caminho para a imagem."
            example: "path/to/background.jpg"
            type: "string"
          created: 
            description: "Data de criação."
            example: "2024-10-20T07:25:00.000+0000"
            type: "string"
            format: "date-time"
          createdBy: 
            description: "ID do cliente que criou o registro."
            example: "ab1cd2ef-34gh-56ij-78kl-mn910opqrs12"
            format: "uuid"
            type: "string"
          modified: 
            description: "Data de modificação."
            example: "2024-10-22T19:50:00.000+0000"
            type: "string"
            format: "date-time"
      Message: 
        properties: 
          text: 
            description: "Texto de retorno"
            example: "Texto de retorno exemplo SUCESSO - OK/CREATED/NO_CONTENT."
            type: "string"
          type: 
            description: "Tipo da mensagem"
            example: "success"
            type: "string"
          status: 
            description: "Status complementar ao tipo."
            example: 200
            type: "number"
            format: "int-32"
      Ok: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo SUCESSO - OK / CREATED / NO_CONTENT."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "success"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 200
                type: "number"
                format: "int-32"
      BadRequest: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - BAD_REQUEST."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 400
                type: "number"
                format: "int-32"
      Unauthorized: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - UNAUTHORIZED."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 401
                type: "number"
                format: "int-32"
      Forbidden: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - FORBIDDEN."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 403
                type: "number"
                format: "int-32"
      NotFound: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - NOT_FOUND."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 404
                type: "number"
                format: "int-32"
      Conflict: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo AVISO - CONFLICT."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "warning"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 409
                type: "number"
                format: "int-32"
      InternalServer: 
        properties: 
          message: 
            properties: 
              text: 
                description: "Texto de retorno"
                example: "Texto de retorno exemplo ERRO - INTERNAL_SERVER."
                type: "string"
              type: 
                description: "Tipo da mensagem"
                example: "error"
                type: "string"
              status: 
                description: "Status complementar ao tipo."
                example: 500
                type: "number"
                format: "int-32"
    headers: 
      Access-Control-Allow-Origin: 
        schema: 
          description: "Acesso à origem"
          type: "string"
      Access-Control-Allow-Methods: 
        schema: 
          description: "Acesso aos metodos"
          type: "string"
      Access-Control-Allow-Headers: 
        schema: 
          description: "Acesso aos cabeçalhos"
          type: "string"

